@import "tailwindcss";

@font-face {
  font-family: 'Akira Expanded';
  src: url('/AkiraExpanded-SuperBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amanojaku Demo';
  src: url('/Amanojaku Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-amanojaku {
  font-family: "Amanojaku Demo", sans-serif;
}

.font-akira {
  font-family: "Akira Expanded", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  overflow: hidden;
  height: 100%;
}

@media (min-width: 1024px) {
  html, body {
    overflow: auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Desktop-only horizontal widening */
@media (min-width: 1024px) {
  .double-ellipse-ring {
    transform: translateX(-50%) scaleX(1.25);
  }
}

/* Mobile / tablet = no stretch */
.double-ellipse-ring {
  transform: translateX(-50%) scaleX(1);
}

.masked-ellipse-lines {
  transform: translateX(-50%);
}

/* Large screens only */
@media (min-width: 1024px) {
  .masked-ellipse-lines {
    transform: translateX(-50%) scaleX(1.35);
  }
}

